.image-upload.image-upload--multiple
  = f.label :favourite_images, "Choose image"
  = f.file_field :favourite_images, multiple: true, wrapper: false

  - if report.favourite_images.attached?
    - report.favourite_images.each do |image|
      .image-upload__preview
        = image_tag url_for(image), class: "image-upload__preview-img"

        - if report.favourite_images.attached?
          = link_to admin_scope_image_path(image.id),
            method: :delete, class: "btn btn-danger image-upload__delete", title: "Delete" do
            | &#10008;
<div class="image-upload image-upload--multiple">
<%= ::Temple::Utils.escape_html((f.label :favourite_images, "Choose image")) %>
<%= ::Temple::Utils.escape_html((f.file_field :favourite_images, multiple: true, wrapper: false)) %>

<% if report.favourite_images.attached?
report.favourite_images.each do |image|
 %><div class="image-upload__preview">
<%= ::Temple::Utils.escape_html((image_tag url_for(image), class: "image-upload__preview-img")) %>

<% if report.favourite_images.attached?
_slim_controls1 = link_to admin_scope_image_path(image.id),
method: :delete, class: "btn btn-danger image-upload__delete", title: "Delete" do %><% _slim_controls2 = '';
; _slim_controls2 << ("&#10008;".freeze);
; _slim_controls2 %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %><% end %></div><% end; end %></div>
